
body {
  font-family: 'Lato', sans-serif;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.badge {
  background-color: #E50000;
  margin-left: 0.25rem;
  padding: 0.20rem;
}

.img-fluid {
  height: 16px;
  width: auto;
  margin-top: 0;
}

.img-hero {
  height: 60px;
  width: auto;
  margin-top: 0;
  mix-blend-mode: hard-light;
}

.bg-purple {
  background-color: #1f1137;
}

mark {
  color: white;
  background-color: #004CFF;
}

.logo {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 0px black;
}

.shadow-purple {
  color: white;
  text-shadow: -1px 0 #341d5c, 0 1px #341d5c, 1px 0 #341d5c, 0 0px #341d5c;
}

.material-icons, .material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: rtl;
  color: #d60270;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.nav-link .material-icons {
  color: #FFEE00;
}

.btn-lg {
  border-radius: 40px;
}

.btn-md {
  border-radius: 40px;
  margin-top: 0.75rem;
}

.transitions h4 {
  font-weight: 300;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.transitions span.badge {
  font-weight: 300;
  background-color: #1f1137;
  font-size: 0.675em;
  color: white;
  padding: 0.5rem;
  margin: 0.45rem;
}

#explain {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#point{
  margin-bottom: 0.45rem;
}

.controls {
  margin-bottom: 0.95rem;
}

.transitions button {
  font-weight: 300;
  font-size: small;
  color: white;
  background-color: #198754;
  padding-top: 0.15rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 10%;
}

.controls .material-icons-outlined {
  color: white;
  vertical-align: middle;
}

.list-group-horizontal > li {
  margin: 2px;
}

.navbar-light {
  padding-bottom: 0px;
}
